link(rel="stylesheet" href="button.css")

mixin button(name)
  form
    button(class!=attributes.class)= name


//- +button('войти')(class='button button_stroke button_header')
//- +button('зарегистрироваться')(class='button button_fill button_header')
