@import "../../styles/link-to-root";
@import "../../styles/reset";
@import '../../styles/variables';
@import '../../styles/montserrat';

.button {
  width: auto;
  height: 44px;
  border-radius: 22px;
  font-family: $mainFont;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
}
.button_fill {
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  &:hover {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
  }
}
.button_stroke {
  color: #BC9CFF;
  background-color: #ffffff;
  border: 2px solid #BC9CFF;
  &:hover {
    border: 2px solid rgba(188, 156, 255, 0.5);
  }
}
.button_header {
  height: 34px;
}
