link(rel="stylesheet", href="footer-nav-bar.css")

.footer-nav-container
  nav
    ul.footer-nav
      li.footer-nav-header навигация
      li
        a(href="#").footer-nav__item О нас
      li
        a(href="#").footer-nav__item Новости
      li
        a(href="#").footer-nav__item Служба поддержки
      li
        a(href="#").footer-nav__item Услуги

  nav
    ul.footer-nav
      li.footer-nav-header о нас
      li
        a(href="#").footer-nav__item О сервисе
      li
        a(href="#").footer-nav__item Наша команда
      li
        a(href="#").footer-nav__item Вакансии
      li
        a(href="#").footer-nav__item Инвесторы

  nav
    ul.footer-nav
      li.footer-nav-header служба поддержки
      li
        a(href="#").footer-nav__item Соглашения
      li
        a(href="#").footer-nav__item Сообщества
      li
        a(href="#").footer-nav__item Связь с нами

  ul.footer-nav
    li.footer-nav-header подписка
    li.footer-nav__item Получайте специальные предложения и новости сервиса
    li.footer-nav__item
      form.email-form
        input(placeholder="Email" type="email" class="email-form__input")
        button(type="submit" class="email-form__btn")
