include ../root-link
//- scss from text-field.scss




html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href=rootLink + "/node_modules/air-datepicker/dist/css/datepicker.min.css")
    link(rel="stylesheet" href="airdatepicker.css")
    link(rel="stylesheet" href="../dropdown/dropdown.css")
    script(src=rootLink + '/jquery-3.5.1.min.js')
    script(src=rootLink + '/node_modules/air-datepicker/dist/js/datepicker.js')
  body
    input(type="text" placeholder="ДД.ММ.ГГГГ" id="startDate").datepicker-here.dropdown__header.dropdown_short
    input(type="text" placeholder="ДД.ММ.ГГГГ" id="endDate" data-position="bottom right").datepicker-here.dropdown__header.dropdown_short
    
      
    script(src="airdatepicker.js")
