link(rel="stylesheet", href="copyright.css")

.copyright-container
  p.copyright Copyright © 2018 Toxin отель. Все права зачищены.
  ul.social-links
    li.social-links__item
      a(href="https://www.twitter.com/").social-links__link#twitter
    li.social-links__item
      a(href="https://www.facebook.com/").social-links__link#facebook
    li.social-links__item
      a(href="https://www.instagram.com/").social-links__link#instagram
