doctype html
html(lang="ru")
  head
    title Colors & Type
    link(rel='stylesheet' href='colors-type-style.css')
  body
    img.logo(src='../../assets/icons/logo.png')
    .main-container
      .color_container
        .color-block
          .color-block__example#dark100
          p.color-block__name Dark Shade 100%
          p.color-block__code #1F2041 
        .color-block
          .color-block__example#dark75
          p.color-block__name Dark Shade 75%
          p.color-block__code #1F2041
        .color-block
          .color-block__example#dark50
          p.color-block__name Dark Shade 50%
          p.color-block__code #1F2041
        .color-block
          .color-block__example#dark25
          p.color-block__name Dark Shade 25%
          p.color-block__code #1F2041
        .color-block
          .color-block__example#dark05
          p.color-block__name Dark Shade 5%
          p.color-block__code #1F2041
        .color-block
          .color-block__example#purple
          p.color-block__name Purple
          p.color-block__code #BC9CFF
        .color-block
          .color-block__example#green
          p.color-block__name Green
          p.color-block__code #6FCF97
      .type-container
        .type-tags
          p.type-tags__h1 H1
          p.type-tags__h2 H2
          p.type-tags__h3 H3
          p.type-tags__body Body
        .type-example
          p.type-example__h1 This one is the sub-section or widget title
          p.type-example__h2 Next one is the item title inside widgets
          p.type-example__h3 This is a label or CTA text
          p.type-example__body This is the body text which is used for most of the design, like paragraphs, lists, etc.
