@import "link-to-root";

@font-face {
  font-family: 'Quicksand';
  src: url($root + '/assets/fonts/Quicksand/Quicksand-Regular.woff'),
       url($root + '/assets/fonts/Quicksand/Quicksand-Regular.ttf'),
       url($root + '/assets/fonts/Quicksand/Quicksand-Regular.svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url($root + '/assets/fonts/Quicksand/Quicksand-Bold.woff'),
       url($root + '/assets/fonts/Quicksand/Quicksand-Bold.ttf'),
       url($root + '/assets/fonts/Quicksand/Quicksand-Bold.svg');
  font-style: normal;
  font-weight: bold;
}
