link(rel="stylesheet" href="dropdown.css")
  
include ../root-link.pug
script(src= rootLink + "/jquery-3.5.1.min.js")
script(src= rootLink + "/assets/includes/dropdown-room/dropdown.js")
.dropdown__header
  p.dropdown__data 0 спальни, 0 кровати...
  img#dropdown__expand(src= rootLink + '/assets/icons/expand-down.png')
.dropdown__menu.hidden 
  .dropdown__line
    p.dropdown__item спальни
    .dropdown__counter-container
      img.dropdown__delete#bedroom-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
      p.dropdown__counter#bedroom-counter 0
      img.dropdown__add#bedroom-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
  .dropdown__line
    p.dropdown__item кровати
    .dropdown__counter-container
      img.dropdown__delete#bed-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
      p.dropdown__counter#bed-counter 0
      img.dropdown__add#bed-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
  .dropdown__line
    p.dropdown__item ванные комнаты
    .dropdown__counter-container
      img.dropdown__delete#bath-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
      p.dropdown__counter#bath-counter 0
      img.dropdown__add#bath-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
