@import "../../styles/link-to-root";
@import "../../styles/reset";
@import '../../styles/variables';
@import '../../styles/montserrat';


.navbar__item {
  display: inline-block;
  margin-right: 20px;
  &:lastchild{
    margin-right: 0;
  }
  a {
    font-family: $mainFont;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;
    &.active {
      color: $dark75;
      font-weight: bold;
    }
  }
}
.navbar__item_expand::after {
  content: url($root + '/assets/icons/expand-down.png');
  margin-left: 5px;
}
