link(rel="stylesheet" href='header-nav-bar.css')
nav
  ul.navbar
    li.navbar__item
      a.navbar__link.active(href='#') О нас
    li.navbar__item.navbar__item_expand
      a.navbar__link(href='#') Услуги
    li.navbar__item
      a.navbar__link(href='#') Вакансии
    li.navbar__item
      a.navbar__link(href='#') Новости
    li.navbar__item.navbar__item_expand
      a.navbar__link(href='#') Соглашения
  
