@import "../../styles/link-to-root";
@import "../../styles/reset";
@import '../../styles/variables';
@import '../../styles/montserrat';

.dropdown {
  position: relative;
  width: 320px;
  input {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 44px;
    border-radius: 2px;
    border: 1px solid $dark25;
    outline: none;
    color: $dark75;
    &:focus, &:hover {
      border-color: $dark50;
    }
  }
  .dropdown__expand-button {
    position: absolute;
    top: 18px;
    right: 15px;
  }
  .dropdown__menu {
    width: 320px;
    height: 160px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid $dark25;
    border-top: none;
    position: relative;
    top: -1px;
    padding-top: 7px;
    p {
      font-family: $mainFont;
      font-size: 12px;
      font-weight: bold;
      line-height: 30px;
      color: $dark100;
    }
    .dropdown__line {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0px 7px 7px 15px;
    }
    .dropdown__counter-container {
      width: 92px;
      display: flex;
      justify-content: space-between;

    }
  }
  .dropdown__buttons {
    margin: 20px 7px 0px 14px;
    max-height: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    p {
      line-height: 15px;
      cursor: default;
    }
    .dropdown__clear-btn {
      color: $dark50;
    }
    .dropdown__apply-btn {
      color: $purple;
    }
  }
}


#bedroom-delete-btn,
#bed-delete-btn,
#bath-delete-btn,
#adult-delete-btn,
#child-delete-btn,
#baby-delete-btn {
  opacity: 0.38;
}
.dropdown_middle {
  width: 266px;
}
.dropdown_short {
  width: 150px;
}
