link(rel="stylesheet" href="dropdown.css")
  
include ../root-link.pug
script(src= rootLink + "/jquery-3.5.1.min.js")
script(src= rootLink + "/assets/includes/dropdown/dropdown-guests.js")

.dropdown
  input(type="text" placeholder="Сколько гостей" id="dropdown-guests__header").dropdown__input
  input(type="hidden", id="dropdown-guests__data")
  img#dropdown-guests__expand.dropdown__expand-button(src= rootLink + '/assets/icons/expand-down.png')
  .dropdown__menu.hidden#dropdown-guests__menu 
    .dropdown__line
      p.dropdown__item взрослые
      .dropdown__counter-container
        img#adult-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
        p.dropdown__counter#adult-counter 0
        img#adult-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
    .dropdown__line
      p.dropdown__item дети
      .dropdown__counter-container
        img#child-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
        p.dropdown__counter#child-counter 0
        img#child-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
    .dropdown__line
      p.dropdown__item младенцы
      .dropdown__counter-container
        img#baby-delete-btn(src= rootLink + '/assets/icons/dropdown-delete.png')
        p.dropdown__counter#baby-counter 0
        img#baby-add-btn(src= rootLink + '/assets/icons/dropdown-add.png')
    .dropdown__buttons
      p.dropdown__clear-btn#dropdown-guests__clear-button Очистить
      p.dropdown__apply-btn#dropdown-guests__apply-button Применить
